.alert-top {
  padding: 0 !important;
  align-items: center !important;

  .alert-wrapper {
    background: linear-gradient(to bottom right, $beevy-darkBlue, $beevy-darkViolett) !important;
    border-radius: 30px !important;
    .alert-head{
      text-align: center;
      margin-bottom:0;
      padding-bottom:5px;
    }
    .alert-message{
      height:0 !important;
      padding:0 !important;
      max-height: 0!important;
    }
    .button-inner {
      color: $beevy-blue;
    }
    .alert-input-group{
      padding:10px;
    }
    .alert-input {
      color: $beevy-darkViolett;
      border-style: solid;
      border-width: 2px;
      border-color: $beevy-blue;
      border-radius: 30px;
      text-align: center;
      margin-top:0;
      background-color: transparent;
      min-height: 40px;
    }
  }
  .alert-button-group{
    padding:0;
    margin:0;
    padding-bottom: 20px;
  }
  .alert-button{
    background: linear-gradient(to bottom right, $beevy-lightBlue, $beevy-blue);
    border-radius: 30px;
    color: white !important;
    text-transform: none;
    width: 45%;
    text-align: center;
    .button-inner{
      color: white !important;
      text-align: center;
    }
  }
  .alert-button-default-ios{
    margin-top: 5px;
    border: none;
  }
}

.alert-md .alert-input {
  color: white !important;
}

