//Eigene Icons

//Home Icon
//aktiviert
.ion-ios-homewhite,
.ion-md-homewhite {
  content: url(../../assets/icon/home-dark.svg);
  opacity: 0.9;
}

//deaktiviert
.ion-ios-homewhite-outline,
.ion-md-homewhite-outline {
  content: url(../../assets/icon/home-white.svg);
  opacity: 0.9;
}

//Add Icon
//aktiviert
.ion-ios-addEvent,
.ion-md-addEvent {
  content: url(../../assets/icon/plus-dark.svg);
  opacity: 0.9;
}

//deaktiviert
.ion-ios-addEvent-outline,
.ion-md-addEvent-outline {
  content: url(../../assets/icon/plus-white.svg);
  opacity: 0.9;
}

//Profile Icon
//aktiviert
.ion-ios-profile,
.ion-md-profile {
  content: url(../../assets/icon/ninja-dark.svg);
  opacity: 0.9;
}

//deaktiviert
.ion-ios-profile-outline,
.ion-md-profile-outline {
  content: url(../../assets/icon/ninja-white.svg);
  opacity: 0.9;
}
