//Eigene Icons

//Home Icon
//aktiviert
.ion-ios-homewhite,
.ion-md-homewhite {
  content: url(../assets/icon/home-white.svg);
  opacity: 0.9;
}


//deaktiviert
.ion-ios-homewhite-outline,
.ion-md-homewhite-outline {
  content: url(../assets/icon/home-white.svg);
  opacity: 0.9;
}

//Add Icon
//aktiviert
.ion-ios-addEvent,
.ion-md-addEvent {
  content: url(../assets/icon/plus-white.svg);
  opacity: 0.9;
}

//deaktiviert
.ion-ios-addEvent-outline,
.ion-md-addEvent-outline {
  content: url(../assets/icon/plus-white.svg);
  opacity: 0.9;
}

//Profile Icon
//aktiviert
.ion-ios-profile,
.ion-md-profile {
  content: url(../assets/icon/ninja-dark.svg);
  opacity: 0.9;
}

//deaktiviert
.ion-ios-profile-outline,
.ion-md-profile-outline {
  content: url(../assets/icon/ninja-white.svg);
  opacity: 0.9;
}

.ion-ios-avatar_1,
.ion-md-avatar_1 {
  content: url(../assets/imgs/avatar_1.svg);
  opacity: 0.9;
}
.ion-ios-avatar_2,
.ion-md-avatar_2 {
  content: url(../assets/imgs/avatar_2.svg);
  opacity: 0.9;
}
.ion-ios-avatar_3,
.ion-md-avatar_3 {
  content: url(../assets/imgs/avatar_3.svg);
  opacity: 0.9;
}
.ion-ios-avatar_4,
.ion-md-avatar_4 {
  content: url(../assets/imgs/avatar_4.svg);
  opacity: 0.9;
}
.ion-ios-avatar_5,
.ion-md-avatar_5 {
  content: url(../assets/imgs/avatar_5.svg);
  opacity: 0.9;
}
.ion-ios-avatar_6,
.ion-md-avatar_6 {
  content: url(../assets/imgs/avatar_6.svg);
  opacity: 0.9;
}
.ion-ios-avatar_7,
.ion-md-avatar_7  {
  content: url(../assets/imgs/avatar_7.svg);
  opacity: 0.9;
}
.ion-ios-avatar_8,
.ion-md-avatar_8 {
  content: url(../assets/imgs/avatar_8.svg);
  opacity: 0.9;
}
.ion-ios-avatar_9,
.ion-md-avatar_9 {
  content: url(../assets/imgs/avatar_9.svg);
  opacity: 0.9;
}
.ion-ios-avatar_10,
.ion-md-avatar_10 {
  content: url(../assets/imgs/avatar_10.svg);
  opacity: 0.9;
}
.ion-ios-avatar_11,
.ion-md-avatar_11 {
  content: url(../assets/imgs/avatar_11.svg);
  opacity: 0.9;
}
.ion-ios-avatar_12,
.ion-md-avatar_12 {
  content: url(../assets/imgs/avatar_12.svg);
  opacity: 0.9;
}
