.filterModal .modal-wrapper {
  position: absolute;
  overflow: hidden;
  max-width: 93vw;
  border-radius: 5px;
  width: 70vw;
  height: 50vh !important;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  border: 0;
  box-shadow: 0 16px 20px rgba(0, 0, 0, .4);

  .scroll-content {
    background-color: white !important;
    padding: 0 !important;
  }

  button {
    color: white;
  }
}

ion-backdrop {
  visibility: visible !important;
  background: black !important;
  opacity: 0.5 !important;
}
