//Don't know why it works, but it's needed...

//Fix for header and footer having a background image that looks like a border
.header-md::after,
.tabbar::before {
  background-image: none !important;
}

//Fix for footer jumping up
.footer {
  bottom: 0 !important;
}

//Fix for page scrolling when there is no reason to scroll
.no-scroll .scroll-content{
  overflow: hidden;
  padding-bottom: 0 !important;
}
