<!-- Generated template for the PopoverComponent component -->
<ion-list>
  <ion-item no-lines>
    <img src="assets/imgs/avatar_1.svg" height="100px" width="100px" (click)="close('avatar_1')"
         class="avatarIcon">
  </ion-item>
  <ion-item no-lines>
    <img src="assets/imgs/avatar_2.svg" height="100px" width="100px" (click)="close('avatar_2')"
         class="avatarIcon">
  </ion-item>
  <ion-item no-lines>
    <img src="assets/imgs/avatar_3.svg" height="100px" width="100px" (click)="close('avatar_3')"
         class="avatarIcon">
  </ion-item>
  <ion-item no-lines>
    <img src="assets/imgs/avatar_4.svg" height="100px" width="100px" (click)="close('avatar_4')"
         class="avatarIcon">
  </ion-item>
  <ion-item no-lines>
    <img src="assets/imgs/avatar_5.svg" height="100px" width="100px" (click)="close('avatar_5')"
         class="avatarIcon">
  </ion-item>
  <ion-item no-lines>
    <img src="assets/imgs/avatar_6.svg" height="100px" width="100px" (click)="close('avatar_6')"
         class="avatarIcon">
  </ion-item>
  <ion-item no-lines>
    <img src="assets/imgs/avatar_7.svg" height="100px" width="100px" (click)="close('avatar_7')"
         class="avatarIcon">
  </ion-item>
  <ion-item no-lines>
    <img src="assets/imgs/avatar_8.svg" height="100px" width="100px" (click)="close('avatar_8')"
         class="avatarIcon">
  </ion-item>
  <ion-item no-lines>
    <img src="assets/imgs/avatar_9.svg" height="100px" width="100px" (click)="close('avatar_9')"
         class="avatarIcon">
  </ion-item>
  <ion-item no-lines>
    <img src="assets/imgs/avatar_10.svg" height="100px" width="100px" (click)="close('avatar_10')"
         class="avatarIcon">
  </ion-item>
  <ion-item no-lines>
    <img src="assets/imgs/avatar_11.svg" height="100px" width="100px" (click)="close('avatar_11')"
         class="avatarIcon">
  </ion-item>
  <ion-item no-lines>
    <img src="assets/imgs/avatar_12.svg" height="100px" width="100px" (click)="close('avatar_12')"
         class="avatarIcon">
  </ion-item>
</ion-list>
