<!-- Generated template for the PopoverComponent component -->
<ion-list>
  <ion-item no-lines>
    <img src="../../assets/imgs/avatar_1.svg" height="100px" width="100px" (click)="close('../../assets/imgs/avatar_1.svg')" class="avatarIcon">
  </ion-item>
  <ion-item no-lines>
    <img src="../../assets/imgs/avatar_2.svg" height="100px" width="100px" (click)="close('../../assets/imgs/avatar_2.svg')" class="avatarIcon">
  </ion-item>
  <ion-item no-lines>
    <img src="../../assets/imgs/avatar_3.svg" height="100px" width="100px" (click)="close('../../assets/imgs/avatar_3.svg')" class="avatarIcon">
  </ion-item>
  <ion-item no-lines>
    <img src="../../assets/imgs/avatar_4.svg" height="100px" width="100px" (click)="close('../../assets/imgs/avatar_4.svg')" class="avatarIcon">
  </ion-item>
  <ion-item no-lines>
    <img src="../../assets/imgs/avatar_5.svg" height="100px" width="100px" (click)="close('../../assets/imgs/avatar_5.svg')" class="avatarIcon">
  </ion-item>
  <ion-item no-lines>
    <img src="../../assets/imgs/avatar_6.svg" height="100px" width="100px" (click)="close('../../assets/imgs/avatar_6.svg')" class="avatarIcon">
  </ion-item>
  <ion-item no-lines>
    <img src="../../assets/imgs/avatar_7.svg" height="100px" width="100px" (click)="close('../../assets/imgs/avatar_7.svg')" class="avatarIcon">
  </ion-item>
  <ion-item no-lines>
    <img src="../../assets/imgs/avatar_8.svg" height="100px" width="100px" (click)="close('../../assets/imgs/avatar_8.svg')" class="avatarIcon">
  </ion-item>
  <ion-item no-lines>
    <img src="../../assets/imgs/avatar_9.svg" height="100px" width="100px" (click)="close('../../assets/imgs/avatar_9.svg')" class="avatarIcon">
  </ion-item>
  <ion-item no-lines>
    <img src="../../assets/imgs/avatar_10.svg" height="100px" width="100px" (click)="close('../../assets/imgs/avatar_10.svg')" class="avatarIcon">
  </ion-item>
  <ion-item no-lines>
    <img src="../../assets/imgs/avatar_11.svg" height="100px" width="100px" (click)="close('../../assets/imgs/avatar_11.svg')" class="avatarIcon">
  </ion-item>
  <ion-item no-lines>
    <img src="../../assets/imgs/avatar_12.svg" height="100px" width="100px" (click)="close('../../assets/imgs/avatar_12.svg')" class="avatarIcon">
  </ion-item>
</ion-list>
