page-profile {

  .avatarBig {
    width: 160px;
    height: 160px;
    margin: 20% 30% 0 30%;
    padding: 5%;
    border: 3px solid white;
    border-radius: 50%;
  }

  .avatarCircle {
    width: 40%;
    height: 50%;
  }

  .userName {
    text-align: center;
    font-size: 28px;
    margin: 5px;
    font-weight: bold;
  }

  .userMail {
    text-align: center;
    font-size: 15px;
    margin: 5px;
  }

  .eventToggle {
    zoom: 0.6;
    margin: 5% auto 0 auto;
  }

  .toggleDesc {
    font-size: 15px;
    text-align: center;
    margin-top: 1%;
  }

  .joinedButton {
    margin-left: 5%;
    float: left;
    width: 160px;
  }

  .createdButton {
    margin-right: 5%;
    float: right;
    width: 160px;
  }

  .profileEvents {
    margin-top: 30%;
  }
}
