page-profile {

  .avatarBig{
    margin: 20% 30% 0 30%;
    padding: 5%;
    border: 3px solid white;
    border-radius: 50%;
  }

  .userName{
    text-align: center;
    font-size: 28px;
    margin-top: 5px;
  }
}
