<ion-header>
  <img class="headerImage" src="../../assets/imgs/footer.svg">
  <ion-navbar class="navbar">
    <ion-title>
      Profil
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content onscroll="scrollFunction()" class="main-background-gradient" >

  <div id="avatarCircle">
    <img id="avatarBig" [src]="avatarURL" (click)="presentPopover($event)">
  </div>

  <p class="userName">{{user?.username}}</p>
  <p class="userMail">{{user?.mail}}</p>

  <button class="beevyButton joinedButton"
          [ngClass]="[joinedEventsActive ? 'beevy-info-background-more-transparent-0' : '']"
          ion-button (click) ="listJoined()">Beigetreten</button>
  <button class="beevyButton createdButton"
          [ngClass]="[!joinedEventsActive ? 'beevy-info-background-more-transparent-0' : '']"
          ion-button (click) ="listCreated()">Erstellt</button>
  <div class="profileEvents">
    <div *ngIf="joinedEventsActive">
      <ion-list>
        <div *ngFor="let event of user?.userEvents?.joinedEvents">
          <beevy-event [beevyEvent]="event"></beevy-event>
        </div>
      </ion-list>
    </div>

    <div *ngIf="!joinedEventsActive">
      <ion-list>
        <div *ngFor="let event of user?.userEvents?.createdEvents">
          <beevy-event [beevyEvent]="event"></beevy-event>
        </div>
      </ion-list>
    </div>
  </div>
  <div>
    <button class="beevyButton scrollButton" ion-button (click) ="scrollUp()"><img src="../../assets/icon/upArrow.svg"></button>
  </div>
</ion-content>
<ion-footer>
  <img class="beevyFooter" src="../../assets/imgs/footer.svg"/>
</ion-footer>
