page-profile {

  #avatarBig{
    width: 100px;
    height: 100px;
    display: block;
    margin: 15% auto;
  }

  #avatarCircle {
    margin: 15% auto 5% auto;
    border: 3px solid white;
    border-radius: 50%;
    width: 150px;
    height: 150px;
  }

  .userName {
    text-align: center;
    font-size: 28px;
    margin: 5px;
    font-weight: bold;
  }

  .userMail {
    text-align: center;
    font-size: 15px;
    margin: 5px;
  }

  .eventToggle {
    zoom: 0.6;
    margin: 5% auto 0 auto;
  }

  .toggleDesc {
    font-size: 15px;
    text-align: center;
    margin-top: 1%;
  }

  .joinedButton {
    margin-left: 5%;
    float: left;
    width: 160px;
  }

  .createdButton {
    margin-right: 5%;
    float: right;
    width: 160px;
  }

  .profileEvents {
    margin-top: 30%;
  }

  .scrollButton{
    width: 30px;
    height: 30px;
    position: fixed;
    padding: 5px;
    left: 89.5%;
    top: 83%;
    z-index: 200;
  }
}
