page-home {
  .eventList {
    margin-bottom: 0 !important;
  }
  .button-md {
    background-color: transparent;
    box-shadow: none;
  }

  .content {
    background-color: $beevy-main-background-dark;
  }
}

#logotext {
  font-size: 35px;
  position: absolute;
  color: $beevy-lightBlue-transparent !important;
  z-index: 1;
  top: 48%;
  animation: fadeIn 2s;
  animation-delay: 4s;
  animation-fill-mode: both;
}

#custom-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999 !important;
  width: 100%;
  height: 100%;
  background-color: #002a3e;
}

.flb {
  background: linear-gradient($beevy-main-background-light, $beevy-main-background-dark);
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

}

.Aligner-item {
  max-width: 50%;
}

.Aligner-item--top {
  align-self: flex-start;
}

.Aligner-item--bottom {
  align-self: flex-end;
}

#custom-overlay img {
  display: block;
  margin: 0 auto;
  width: 30%;
  height: auto;
  animation: popup 4s;
  z-index: 2;
  position: absolute;
  top: 35%;
}

@keyframes popup {
  0% {
    transform: scale(0.1);
  }
  70% {
    transform: scale(1.4);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.beevyFooter {
  position: absolute;
  z-index: -1 !important;
}
