page-home {
  .eventList {
    margin-bottom: 0 !important;
  }
  .button-md {
    background-color: transparent;
    box-shadow: none;
  }

  .content {
    background-color: $beevy-main-background-dark;
  }
}
