// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";

// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;

@import "ionic.globals";

// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/

// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$beevy-main-background-dark: #101a58;
$beevy-main-background-light: #270f33;

$beevy-pink: #e01767;
$beevy-pink-transparent: rgba(224, 23, 103, 0.7);
$beevy-orange: #fc8535;
$beevy-orange-transparent: rgba(255, 133, 53, 0.7);
$beevy-yellow: #ffe882;
$beevy-yellow-transparent: rgba(255, 232, 120, 0.7);

$beevy-darkViolett: #270f33;
$beevy-darkViolett-transparent: rgba(39, 15, 51, 0.7);
$beevy-darkBlue: #101a58;
$beevy-darkBlue-transparent: rgba(16, 26, 88, 0.7);

$beevy-blue: #218ba1;
$beevy-blue-transparent: rgba(33, 139, 161, 0.7);
$beevy-lightBlue: #70e0ca;
$beevy-lightBlue-transparent: rgba(112, 224, 220, 0.7);

// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here

// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here

// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here

// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

$text-input-placeholder-color: white;

$range-ios-tick-active-background-color: $beevy-blue;
$range-ios-bar-active-background-color: $beevy-blue;
$range-md-bar-active-background-color: $beevy-blue;

@import "ionic.theme.default";

// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";

// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
