// http://ionicframework.com/docs/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
//IMPORTS
@import "styles/datepicker";
@import "styles/icons";
@import "styles/quirks";
@import "styles/toolbar";
@import "styles/filter-modal";
@import "styles/registration-modal";
@import "styles/toast.scss";
@import "styles/alert.scss";
@import "styles/header.scss";
@import "styles/select-wrapper";
@import "styles/android-fix";

//GENERAL
@font-face {
  font-family: 'quicksand-regular';
  src: url('../assets/fonts/Quicksand-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

ion-app {
  font-family: quicksand-regular !important;
}

p, h1, h2, h3, h4, h5, h6 {
  color: white !important;
}

.scroll-content {
  border-top: 0 !important;
  background-color: transparent !important;
}

.main-background-gradient {
  background: linear-gradient($beevy-main-background-light, $beevy-main-background-dark);
}

.fliessText {
  font-size: 18px;
}

.back-button-icon {
  color: white;
}

.infoHolder {
  margin: 0 0 0 15px;
}

.fixed-content, .scroll-content {
  margin: 0 !important;
}

.item {
  background-color: transparent;
  color: white;
}

//menuIcon
.menuIcon {
  color: white;
  font-size: 1.6em;
}

.toolbar-content {
  .button-md.activated {
    background-color: transparent;
    box-shadow: none;
  }
}

.filter-button-active {
  opacity: 1;
}

.filter-button-inactive {
  opacity: 0.5;
}

//Refresher

ion-refresher {
  top: 45px !important;
  z-index: 10;
}

//FooterHeaderButton
.footer{
  height: 10vh;
  max-height: 90px;
}
.beevyFooter {
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100%;
}
.header{
  height: 10vh;
  max-height: 80px;
  top: -2vh;
  .navbar{
    margin-top: 2vh;
  }
}
.header-md{
  top: -2vh;
}
.header-md::after{
  width:0;
}
.beevyHeader {
  //transform: rotate(180deg);
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100% !important;
  top:0;
}
.headerImage{
  position: absolute;
  height: 100%;
  top:0;
}

.beevyButton {
  background: linear-gradient($beevy-lightBlue, $beevy-blue);
  border-radius: 30px;
  width: 80%;
  margin: auto;
  margin-top: 35px;
}

.beevyButton-withoutColor {
  border-radius: 30px;
  width: 100%;
  margin: auto;
  margin-top: 35px;
}

.beevy-info-background-transparent-2 {
  background: linear-gradient(to bottom right, $beevy-orange-transparent, $beevy-pink-transparent);
}

.beevy-info-background-transparent-1 {
  background: linear-gradient(to bottom right, $beevy-yellow-transparent, $beevy-orange-transparent);
}

.beevy-info-background-transparent-0 {
  background: linear-gradient(to bottom right, $beevy-lightBlue-transparent, $beevy-blue-transparent);
}

.beevy-info-background-more-transparent-2 {
  background: linear-gradient(to bottom right, $beevy-orange-more-transparent, $beevy-pink-more-transparent);
}

.beevy-info-background-more-transparent-1 {
  background: linear-gradient(to bottom right, $beevy-yellow-more-transparent, $beevy-orange-more-transparent);
}

.beevy-info-background-more-transparent-0 {
  background: linear-gradient(to bottom right, $beevy-lightBlue-more-transparent, $beevy-blue-more-transparent);
}

.beevy-info-background-full-2 {
  background: linear-gradient(to bottom right, $beevy-orange, $beevy-pink);
}

.beevy-info-background-full-1 {
  background: linear-gradient(to bottom right, $beevy-yellow, $beevy-orange);
}

.beevy-info-background-full-0 {
  background: linear-gradient(to bottom right, $beevy-lightBlue, $beevy-blue);
}

.beevy-info-background-border-0 {
  border-color: $beevy-blue !important;
}

.beevy-info-background-border-1 {
  border-color: $beevy-orange !important;
}

.beevy-info-background-border-2 {
  border-color: $beevy-pink !important;
}

.popover-viewport {
  background: linear-gradient(to bottom right, $beevy-lightBlue, $beevy-blue);
}

.custom-popover {
  width: 50%;
}

.popover-content{
  position: absolute !important;
  left: 25% !important;
  width: 50% !important;
  border-radius: 50px !important;
}
