event-comment {
  color: white;
  text-align: left;
  .comment{
    width: 90%;
    display: inline-block;

    .commentBody{

      display: flex;
      flex-direction: row;
      margin-top: 2px;

      .commentAuthor{
        border-style: solid;
        border-width:0px;
        height: 22px;


        border-radius: 15px;
        padding-top: 2px;
        padding-bottom: 2px;
        padding-left: 7px;
        padding-right: 7px;

        display: inline-block;
      }
      .commentText{
        padding-left: 5px;
        overflow-wrap: break-word;
        word-wrap: break-word;

        -ms-word-break: break-all;
        word-break: break-all;
        word-break: break-word;

        -ms-hyphens: auto;
        -moz-hyphens: auto;
        -webkit-hyphens: auto;
        hyphens: auto;
      }
    }
    .unterKommentare{
      padding-left: 40px;
      .commentAuthor {
        border-width: 2px;
        padding-top: 0px;
        padding-bottom: 0px;
        padding-left: 5px;
        padding-right: 5px;

        background: transparent !important;

      }
    }
  }
}
