event-comment {
  color: white;
  text-align: left;
  .comment{
    width: 90%;
    display: inline-block;

    .commentAuthor{
      border-style: solid;
      border-width:2px;

      border-radius: 10px;
      padding-left: 5px;
      padding-right: 5px;
      display: inline-block;
    }
    .commentBody{
      display: inline-block;
    }
    .unterKommentare{
      padding-left: 40px;
    }
  }
}
