page-event-view {
  .eventTitle{
    text-align: center;
  }
  .eventTitle h1{
    font-size: 40px;
    margin: 0;
  }
  .eventTitle p{
    font-size: 20px;
    margin: 0;
  }
  .eventDate {
    font-size: 30px;
    margin: 0;
  }
  .eventTime {
    font-size: 45px;
    margin:0;
  }
  .eventCity{
    margin:0;
  }
  .timeBox{
    width: 40%;
    display: inline-block
  }
  .locationBox{
    width: 40%;
    display: inline-block
  }
  .eventAdmin{
    position:absolute;
    top:50px;
    right: 10px;


    .adminIcon{
      display: inline-block;
    }

    p{
     margin:0;
      display: inline-block;
    }

  }
  .eventTags{
    width: 40%;
    height:40px;
    display: flex;
    overflow-x: auto;
  }
  .eventTags::-webkit-scrollbar {
    display: none;
  }
  .einzelnesTag {
    margin-right: 5px;
    border-radius: 20px;
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
    height: 28px;

    p{
      margin:5px;
    }
  }


  //kopiert aus beevy-event.scss
  .beevy-event-time-info{
      position: relative;
      top: 0;
      left: 0;
      right: 0;
      text-align: center;
      border-radius: 30px;
      height: 120px;
      padding-top: 8px;
  }

  //überschreibt nadere ccs
  .infoHolder{
    margin: 0 !important;
    padding: 20px;
    padding-top: 60px;
    position: relative;
  }
}
