<ion-header>
  <img class="headerImage" src="assets/imgs/footer.svg">
  <ion-navbar class="navbar">
  </ion-navbar>
</ion-header>


<ion-content class="main-background-gradient">
  <div class="infoHolder">
    <div class="eventAdmin">
      <div id="adminDiv">
        <p>{{beevyEvent.admin?.username}}</p>
        <img
          class="adminIcon"
          src="../../assets/icon/ninja-white.svg"
          alt="triangle with all three sides equal"
          height="12px"
        />
      </div>
      <p>id: {{beevyEvent.eventID}} </p>
    </div>

    <div class="eventTitle">
      <h1>{{beevyEvent.title}}</h1>
      <p>{{beevyEvent.summary}}</p>
    </div>

    <div>
      <div [ngClass]="['beevy-event-time-info', changeColorOfContainer(beevyEvent.type, 'full')]">
        <div>
          <p class="eventDate">{{getDate(beevyEvent.date)}}</p>
        </div>
        <div class="timeBox">
          <p class="eventTime">{{getTime(beevyEvent.date)}}</p>
        </div>
        <div class="locationBox"><p class="eventCity">
          <img
            class="locationIcon"
            src="assets/icon/location.svg"
            alt="triangle with all three sides equal"
            height="12px"
          />
          {{beevyEvent.address.zip}}
          {{beevyEvent.address.city}}<br>
          {{beevyEvent.address.street}}
        </p></div>
      </div>
    </div>
    <p class="fliessText">{{beevyEvent.description}}</p>


    <div id="extraInfoLine">

      <div [ngClass]="['eventType', changeColorOfContainer(beevyEvent.type, 'border')]">
        <p>{{beevyEventType}}</p>
      </div>

      <div id="eventTagsdiv">
        <ion-list class="eventTags">
          <!--<img src="../../assets/imgs/transparenz_ende_tags.png" class="tagsFade" id="tagsFadeLeft">-->
          <div [ngClass]="['singleTag', changeColorOfContainer(beevyEvent.type, 'transparent')]"
               *ngFor="let tag of beevyEvent.tags"><p>{{tag}}</p></div>
          <!--<img src="../../assets/imgs/transparenz_ende_tags.png" class="tagsFade" id="tagsFadeRight">-->
        </ion-list>
      </div>
      <div [ngClass]="['eventMembers', changeColorOfContainer(beevyEvent.type, 'border')]">
        <p>
          <img
            class="adminIcon"
            src="../../assets/icon/ninja-white.svg"
            alt="triangle with all three sides equal"
            height="12px"
          />
          {{beevyEvent.currentMemberCount}}/{{beevyEvent.possibleMemberCount}}
        </p>
      </div>
    </div>
    <button *ngIf="showJoinButton" [ngClass]="['joinEventButton','beevyButton-withoutColor', changeColorOfContainer(beevyEvent.type, 'full')]"
            ion-button full (click)="joinEvent()">Join Event
    </button>

    <div [ngClass]="['kommentarBox', changeColorOfContainer(beevyEvent.type, 'border')]">
      <div [ngClass]="['kommentarTitelBox', changeColorOfContainer(beevyEvent.type, 'border')]">
        <h5>Kommentare</h5>
      </div>
      <p>Kommentare sind nur für Teilnehmer des Events sichtbar.</p>

    </div>

  </div>
</ion-content>
<ion-footer>
  <img class="beevyFooter" src="assets/imgs/footer.svg"/>
</ion-footer>
