beevy-event {

  .item {
    padding: 0;
  }

  ion-item .item-inner {
    border-bottom: 0 !important;
    padding: 0 !important;
    background-color: transparent;

    .label {
      margin: 0;
    }
    .openEventViewButton {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background-color: transparent;
    }
  }

  .eventContainer {
    height: 30vh !important;
    width: auto;
    margin: 6px 7px 6px 7px;
    background: transparent;
    border-radius: 10px;
    border: 3px solid $beevy-pink;
    color: white !important;

    .beevy-event-info-container {
      width: 85%;
      height: 120px;
      margin: auto;
      border-radius: 30px;
      padding: 20px;
      position: relative;

      .beevy-event-info{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        text-align: center;
        border-radius: 30px;
        height: 75px;
        padding-top: 8px;

        .eventTitel{
          color: white;
          font-size: 25px;
        }
        .eventUnterTitel{
          color: white;
        }
      }


      .beevy-event-info-date {
        position: absolute;
        bottom: 12px;
        left: 22px;
        right: 22px;

        .date-container{
          postion: relative;

          .eventDate, .eventTime{
            font-size: 25px;
            position: absolute;
            bottom: 0;
          }

          .eventTime { left: 0; }

          .eventDate { right: 0; }
        }
      }
    }
  }


  .beevy-info-background-transparent-1 {
    background: linear-gradient(to bottom right, $beevy-orange-transparent, $beevy-pink-transparent);
  }

  .beevy-info-background-full-1 {
    background: linear-gradient(to bottom right, $beevy-orange, $beevy-pink);
  }
}
