<ion-item [ngClass]="['eventContainer', changeColorOfContainer(beevyEvent.type, 'border')]">
  <button class="openEventViewButton" (click)="openEventView($event)">
    <div [ngClass]="['beevy-event-info-container', changeColorOfContainer(beevyEvent.type, 'transparent')]">
      <div [ngClass]="['beevy-event-info', changeColorOfContainer(beevyEvent.type, 'full')]">
        <p class="eventTitel">{{beevyEvent.title}}</p>
        <p class="eventUnterTitel">{{beevyEvent.summary}}</p>
        <p class="eventCity">
          <img
            class="locationIcon"
            src="../../assets/icon/location.svg"
            alt="triangle with all three sides equal"
            height="12px"
          />
          {{beevyEvent.address.city}}
        </p>
      </div>
      <div class="beevy-event-info-date">
        <div class="date-container">
          <div class="eventDate">{{getDate(beevyEvent.date)}}</div>
          <div class="eventTime">{{getTime(beevyEvent.date)}}</div>
        </div>
      </div>
    </div>
  </button>
</ion-item>
