<ion-item class="eventContainer">
  <button class="openEventViewButton" (click)="openEventView($event)">
  </button>
  <div [ngClass]="['beevy-event-info-container', getEventType()]">
    <div class="beevy-event-info">
      <p class="eventTitel">{{beevyEvent.title}}</p>
    </div>
    <div class="beevy-event-info-date">
      <div class="date-container">
        <div class="eventTime">{{getTime(beevyEvent.date)}}</div>
        <div class="eventDate">{{getDate(beevyEvent.date)}}</div>
      </div>
    </div>
  </div>
</ion-item>
