beevy-event {

  .item {
    padding: 0;
  }

  ion-item .item-inner {
    border: 0 !important;
    padding: 0 !important;
    background-color: transparent;

    .label {
      margin: 0;
    }
    .openEventViewButton {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background-color: transparent;
      color: white;
    }
  }

  .eventContainer {
    height: 30vh !important;
    width: auto;
    margin: 6px 7px 6px 7px;
    background: transparent;
    border-radius: 30px;
    border: 3px solid;
    color: white !important;

    .beevy-event-info-container {
      width: 85%;
      height: 130px;
      margin: auto;
      border-radius: 30px;
      padding: 20px;
      position: relative;

      .beevy-event-info {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        text-align: center;
        border-radius: 30px;
        height: 85px;
        padding: 8px 15px 0 15px;


        .eventTitel {
          color: white;
          font-size: 25px;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
        }
        .eventUnterTitel {
          color: white;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
        }
        .locationIcon {
        }
        .eventCity {
          color: white;
          font-size: 12px;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
        }
      }

      .beevy-event-info-date {
        position: absolute;
        bottom: 10px;
        left: 22px;
        right: 22px;

        .date-container {
          postion: relative;

          .eventDate, .eventTime {
            font-size: 25px;
            position: absolute;
            bottom: 0;
          }

          .eventTime {
            right: 0;
          }

          .eventDate {
            left: 0;
          }
        }
      }
    }
  }

  .beevy-info-background-transparent-2 {
    background: linear-gradient(to bottom right, $beevy-orange-transparent, $beevy-pink-transparent);
  }
  .beevy-info-background-transparent-1 {
    background: linear-gradient(to bottom right, $beevy-yellow-transparent, $beevy-orange-transparent);
  }
  .beevy-info-background-transparent-0 {
    background: linear-gradient(to bottom right, $beevy-lightBlue-transparent, $beevy-blue-transparent);
  }

  .beevy-info-background-full-2 {
    background: linear-gradient(to bottom right, $beevy-orange, $beevy-pink);
  }
  .beevy-info-background-full-1 {
    background: linear-gradient(to bottom right, $beevy-yellow, $beevy-orange);
  }
  .beevy-info-background-full-0 {
    background: linear-gradient(to bottom right, $beevy-lightBlue, $beevy-blue);
  }

  .beevy-info-background-border-2 {
    border-color: $beevy-pink;
  }
  .beevy-info-background-border-1 {
    border-color: $beevy-orange;
  }
  .beevy-info-background-border-0 {
    border-color: $beevy-blue;
  }

}
