page-registration-modal {

  .header{
    top:0;
    .toolbar{
      margin-top:5px;
      .title{
        width: 100%;
        padding:0;
      }
    }
  }
  .dataSecurityHint {
    background: linear-gradient(to bottom right, $beevy-darkBlue, $beevy-darkViolett);
    border-radius: 30px;
    height: 100%;
    margin-top: 50px;
    padding-left: 10px;
    padding-right: 10px;
    .beevyButton{
      color: white;
      margin: 0;
      width: 100%;
      margin-top: 5px;
      margin-bottom: 20px;
    }
    .description{
      padding-top: 10px;
      padding-bottom: 10px;
      text-align: center;
      color: white;
    }
    .checkbox{
      margin-right: 10px !important;

    }
    .checkbox-md{

    }
    @supports not (-webkit-overflow-scrolling: touch) {
      .checkbox-checked .checkbox-inner {
        position: absolute;
        top: 9px;
        left: 13px;
      }
      /* CSS for other than iOS devices */
    }
    @supports (-webkit-overflow-scrolling: touch) {
      position: absolute;
      top: 0;
      left: 0;
    }
    .checkboxLabel{
      border: none;
      .item-inner{
        border: none;
        font-size: 15px;
      }
    }
    ion-scroll {
      height: 20%;
      width: 100%;
      font-size: 10px;

      h1{
        font-size: 10px;
      }
    }
    //.checkbox-checked .checkbox-inner { position: absolute; top: 9px; left: 13px; height: 11px; width: 5px; }
    .datenschutzScroll{
      height: 10vh;
      width: 100%;
      overflow-y: scroll;
      padding-left: 10px;
      padding-right: 10px;
      padding-top:10px;
      font-size:13px;
      border-style: solid;
      border-width: 2px;
      border-radius: 15px;
      border-color: $beevy-blue-transparent;
      h1{
        font-size: 15px;
      }
    }
  }



  .no-scroll .scroll-content {
    overflow: hidden;
  }
  .registrationContent, .enterConfirmation, .failedRegistration{
    background: linear-gradient(to bottom right, $beevy-darkBlue, $beevy-darkViolett);
    border-radius: 30px;
    height: 100%;
    margin-top: 50px;
    .untersterButton{
      margin-bottom: 20px;
    }
    .description {
      padding: 25px 15px 20px 15px;
      text-align: center;
      color: white;
    }
    .ionItemBox {
      border-style: solid;
      border-width: 2px;
      border-color: $beevy-blue;
      border-radius: 30px;
      margin-left: 10px;
      margin-right: 10px;
      margin-top: 5px;
      .item {
        padding: 0px 15px;
        border-bottom: none !important;
        .item-inner {
          border-bottom: none !important;
        }
        .text-input {
          text-align: center;
        }
        .text-input::placeholder{
          color: rgba(255,255,255,0.6);
        }
      }

      .label {
        margin: 0;
        padding-right: 10px;
        padding-left: 10px;
        color: $beevy-blue;

      }
    }

    .button-wrapper {

      padding: 0px;
      margin-left: 10px;
      margin-right: 10px;
      margin-top: 5px;
      .actionsButton {
        width: 100%;
        margin: 0 auto;
        border-radius: 30px;
        height: 44px;
        box-shadow: none;
        color: white;
        background: linear-gradient(to bottom right, $beevy-lightBlue, $beevy-blue);
      }
    }
  }
  .toolbar-title-md {

    text-align: center;
  }

  .item-input-has-focus {
    .item-inner {
      box-shadow: none !important;
      border-bottom: 1px solid $beevy-blue !important;
    }
    .label-md {
      color: $beevy-blue !important;
    }
  }

}
