page-registration-modal {
  .registrationContent {
    background: linear-gradient(to bottom right, $beevy-darkBlue, $beevy-darkViolett);
    border-radius: 30px;
    height: 100%;
    margin-top: 35px;

    .description {
      padding: 25px 15px 0px 15px;
      text-align: center;
      color: white;
    }

    .item {
      padding: 0px 15px;
    }

    .label {
      margin: 0;
      color: $beevy-blue;
    }

    .button-wrapper {
      margin-top: 30px;
      padding: 10px;
      .actionsButton {
        width: 100%;
        margin: 0 auto;
        border-radius: 30px;
        box-shadow: none;
        color: white;
        background: linear-gradient(to bottom right, $beevy-lightBlue, $beevy-blue);
      }
    }
  }

  .toolbar-title-md {
    padding-bottom: 20px;
    text-align: center;
  }

  .item-input-has-focus {
    .item-inner {
      box-shadow: none !important;
      border-bottom: 1px solid $beevy-blue !important;
    }
    .label-md {
      color: $beevy-blue !important;
    }
  }

}
