<ion-header>
  <ion-navbar>
    <ion-title>Registrierung</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding class="no-scroll">
  <div class="dataSecurityHint" *ngIf="showSecurityHint">
    <div class="description">
      Um dich zu registrieren, musst du zuerst unsere Datenschutz-Richtlinien akzeptieren. Bitte lies diese sorgfältig durch.
    </div>
    <!--<ion-scroll scrollY="true">-->
    <div class="datenschutzScroll">
        <h1>Datennutzung und Datenschutz</h1>
        <p>
          Kontakt:<br>
          Tobias Reski<br>
          Wilhelmstraße 10<br>
          77654 Offenburg<br>
          tobias.reski@gmail.com<br>
          01749755453<br>
          <br>
          Folgende Daten werden erhoben:<br>
          Hochschul E-Mail zur Identifikation als HS-Offenburg Student. Diese E-Mail Adresse ist für andere Nutzer nicht sichtbar.<br>
          Nutzername zur Identifikation gegenüber anderer Nutzer.<br>
          Adressen auf freiwilliger Basis, um Events erstellen zu können. Diese Adressen sind nur für die beigetretenen Nutzer sichtbar und werden beim Löschen des Events mitgelöscht.<br>
          <br><br>
          Alle Daten können vom Beevy-Team eingesehen werden, werden aber selbstverständlich nicht weiterverarbeitet oder veröffentlicht. Events und die damit verbundenen Daten, die in der Vergangenheit liegen, sind nur für beigetretene Nutzer und den Event-Ersteller sichtbar.<br>

          Jegliche Kommunikation ist TLS-Verschlüsselt.<br>

          Es ist immer möglich, erstellte Events und die damit verbundenen Daten selbst zu löschen. Der Account kann per Kontaktanfrage an die oben angegebenen Kontaktdaten auf Wunsch gelöscht werden.<br>
          Bei Verlust des Mobil-Telefons ist es ebenfalls möglich, per Kontaktaufnahme alle eingegeben Daten (inklusive Events) löschen zu lassen.<br>

          Wir, das Beevy-Team, übernehmen keine Verantwortung für jegliche Daten, Kommentare oder Beiträge, die sie innerhalb unseres Angebots veröffentlichen. <br>
          <br><br>
          Aus technischen Gründen, insbesondere zur Gewährleistung eines sicheren und stabilen Internetauftritts, werden Daten durch Ihren Internet-Browser an uns bzw. an unseren Webspace-Provider übermittelt. Mit diesen sog. Server-Logfiles werden u.a. Typ und Version Ihres Internetbrowsers, das Betriebssystem, Datum und Uhrzeit des jeweiligen Zugriffs sowie die IP-Adresse des Internetanschlusses, von dem aus die Nutzung unseres Internetauftritts erfolgt, erhoben.
          Diese so erhobenen Daten werden vorrübergehend gespeichert, dies jedoch nicht gemeinsam mit anderen Daten von Ihnen.
          Diese Speicherung erfolgt auf der Rechtsgrundlage von Art. 6 Abs. 1 lit. f) DSGVO. Unser berechtigtes Interesse liegt in der Verbesserung, Stabilität, Funktionalität und Sicherheit unseres Internetauftritts.
          Die Daten werden spätestens nach sieben Tage wieder gelöscht, soweit keine weitere Aufbewahrung zu Beweiszwecken erforderlich ist. Andernfalls sind die Daten bis zur endgültigen Klärung eines Vorfalls ganz oder teilweise von der Löschung ausgenommen.
          <br><br>
          In unserem Internetauftritt setzen wir Google Fonts zur Darstellung externer Schriftarten ein. Es handelt sich hierbei um einen Dienst der Google LLC, 1600 Amphitheatre Parkway, Mountain View, CA 94043 USA, nachfolgend nur „Google“ genannt.
          Durch die Zertifizierung nach dem EU-US-Datenschutzschild („EU-US Privacy Shield“)
          https://www.privacyshield.gov/participant?id=a2zt000000001L5AAI&status=Active
          garantiert Google, dass die Datenschutzvorgaben der EU auch bei der Verarbeitung von Daten in den USA eingehalten werden.
          Um die Darstellung bestimmter Schriften in unserem Internetauftritt zu ermöglichen, wird bei Aufruf unseres Internetauftritts eine Verbindung zu dem Google-Server in den USA aufgebaut.
          Rechtsgrundlage ist Art. 6 Abs. 1 lit. f) DSGVO. Unser berechtigtes Interesse liegt in der Optimierung und dem wirtschaftlichen Betrieb unseres Internetauftritts.
          Durch die bei Aufruf unseres Internetauftritts hergestellte Verbindung zu Google kann Google ermitteln, von welcher Website Ihre Anfrage gesendet worden ist und an welche IP-Adresse die Darstellung der Schrift zu übermitteln ist.
          Google bietet unter
          https://adssettings.google.com/authenticated
          https://policies.google.com/privacy
          weitere Informationen an und zwar insbesondere zu den Möglichkeiten der Unterbindung der Datennutzung.<br>
        </p>
    </div>
    <!--</ion-scroll>-->
    <ion-item class="checkboxLabel">
      <ion-label>Ich habe die Richtlinien gelesen <br>und erkläre mich mit ihnen einverstanden.</ion-label>
      <ion-checkbox [(ngModel)]="privacyPolicyAccept"></ion-checkbox>
    </ion-item>
    <div class="button-wrapper untersterButton halfButton">
      <button class="beevyButton" ion-button (click)="startRegistration()" [disabled]="!privacyPolicyAccept">Registrieren</button>
    </div>
  </div>
  <div class="registrationContent" *ngIf="registrationProcess">
    <div class="description">
      Um alle Funktionen der App zu nutzen, musst du dich mit deiner Hochschul-Email registrieren!
    </div>
    <div>
      <div class="ionItemBox">
        <ion-item>
          <ion-label>Name</ion-label>
          <ion-input [(ngModel)]="name"></ion-input>
        </ion-item>
      </div>
      <div class="ionItemBox">
        <ion-item>
          <ion-label>E-Mail</ion-label>
          <ion-input [(ngModel)]="email"></ion-input>
        </ion-item>
      </div>
    </div>
    <div class="button-wrapper untersterButton halfButton">
      <button class="actionsButton" ion-button (click)="register()" [disabled]="isDisabled()">Registrieren</button>
    </div>
  </div>
  <div class="enterConfirmation" *ngIf="enterConfirmationCode">
    <div class="description">
      Wir haben eine E-Mail mit einem Registrierungs-Code an {{email}} geschickt. Dies kann ein paar Minuten dauern.
    </div>

    <div>
      <div class="ionItemBox">
        <ion-item>
          <ion-input placeholder="Registrierungscode" [(ngModel)]="registrationCode"></ion-input>
        </ion-item>
      </div>
    </div>

    <div class="two-buttons">
      <div class="button-wrapper halfButton">
        <button class="actionsButton" ion-button (click)="restartRegistration()">E-Mail ändern</button>
      </div>
      <div class="button-wrapper untersterButton halfButton">
        <button class="actionsButton" ion-button (click)="confirmRegistration()" [disabled]="registrationCode?.length != 5">Registrieren</button>
      </div>
    </div>
  </div>
  <div class="failedRegistration" *ngIf="failedRegistration">
    <div class="description">
      Hoppla, da ist wohl etwas schiefgelaufen. Möchtest du den Code nochmal eingeben?<br>
      Überprüfe auch, ob deine Mail-Adresse richtig ist ({{email}})!
    </div>
    <div class="two-buttons">
      <div class="button-wrapper halfButton">
        <button class="actionsButton" ion-button (click)="reenterCode()">Erneut eingeben</button>
      </div>
      <div class="button-wrapper untersterButton halfButton">
        <button class="actionsButton" ion-button (click)="restartRegistration()">Mail ändern</button>
      </div>
    </div>
  </div>
</ion-content>
