page-registration-modal {
  .dataSecurityHint {
    height: 100%;
    ion-scroll {
      height: 50%;
    }
  }



  .no-scroll .scroll-content {
    overflow: hidden;
  }
  .registrationContent {
    background: linear-gradient(to bottom right, $beevy-darkBlue, $beevy-darkViolett);
    border-radius: 30px;
    height: 100%;
    margin-top: 50px;

    .description {
      padding: 25px 15px 20px 15px;
      text-align: center;
      color: white;
    }
    .ionItemBox {
      border-style: solid;
      border-width: 2px;
      border-color: $beevy-blue;
      border-radius: 30px;
      margin-left: 10px;
      margin-right: 10px;
      margin-top: 5px;
      .item {
        padding: 0px 15px;
        border-bottom: none !important;
        .item-inner {
          border-bottom: none !important;
        }
        .text-input {
          margin: 0;
        }
      }

      .label {
        margin: 0;
        padding-right: 10px;
        padding-left: 10px;
        color: $beevy-blue;

      }
    }

    .button-wrapper {

      padding: 0px;
      margin-left: 10px;
      margin-right: 10px;
      margin-top: 5px;
      .actionsButton {
        width: 100%;
        margin: 0 auto;
        border-radius: 30px;
        height: 44px;
        box-shadow: none;
        color: white;
        background: linear-gradient(to bottom right, $beevy-lightBlue, $beevy-blue);
      }
    }
  }
  .toolbar-title-md {

    text-align: center;
  }

  .item-input-has-focus {
    .item-inner {
      box-shadow: none !important;
      border-bottom: 1px solid $beevy-blue !important;
    }
    .label-md {
      color: $beevy-blue !important;
    }
  }

}
